html{
    width: 100%;
    height: 100%;
}

body{
    background: -webkit-linear-gradient(left, #79766B , #79766B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #79766B, #79766B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #79766B, #79766B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #79766B , #79766B); /* Standard syntax (must be last) */
}

.container{
    border-left: 2px solid #666;
    border-right: 2px solid #666;
}

.menu{
    background: #0181A1;
    width: 100%;
    color: aliceblue;
}

.menu #menu-control{
    border-top: 1px solid aliceblue;
}

.menu ul li{
    text-align: center;
    list-style: none;
    font-size: 25px;
    font-weight: 100;
}

.menu #menu-control a{
    color: aliceblue;
}

.menu .menu-logo{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    top: 5px;
}

.menu .menu-slogan{
    text-align: center;
    position: relative;
    top: 16px;
    font-size: 16px;
}

.menu .menu-menu{
    position: relative;
    text-align: center;
    font-size: 30px;
    top: 7px;
}

/*
**              -- INDEX --
*/

.index .banner{
    width: 100%;
    height: 600px;

    background: #ddd url("../img/banner2.jpg") no-repeat center;
    background-size: cover;
}

.index .banner .btn{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: 5px solid #fff;
    line-height: 70px;
    top: 300px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.index .banner .btn:hover{
    background: rgba(255, 255, 255, 0);
    color: aliceblue;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

textarea{
    resize: none;
}

.index .section1{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    background: rgba(162, 153, 153,0.8);

    color: aliceblue;
}

.index .section1 .section1-hello h1{
    text-align: center;
}

.index .section1 .section1-hello p{
    text-align: justify;
}

.index .section1 .section1-hello .btn{
    width: 80%;
    text-align: center;
    background: #444;

    float: right;
}

.index .section1 .section1-hello .btn{
    color: aliceblue;
}

/*footer*/


.footer{
float:center;
  background: #45423B;
} 
.logo-footer{


width:80px;
margin:0 auto;
display:block;


}
.separador1 {

display:block;
width:25%;
height:20px;
float:left;
background:#02B1DE;
}
.separador2{

display:block;
width:25%;
height:20px;
float:left;
background:#A2C800;
}

.separador3{

display:block;
width:25%;
height:20px;
float:left;
background:#FF634C;
}
.separador4{

display:block;
width:25%;
height:20px;
float:left;
background:#FFC000;
}
.footer-socialmedia{
padding-left:58px;
padding-top:40px;
}
.footer-socialmedia ul{
display:inline;

list-style:none;

}
.footer-socialmedia li{

 display: inline;

}
.footer-contacto{
padding-left:73px;
color:white;
}

.footer-derecho{
padding-left:2px;
color:white;
}
.footer-central{
padding-left:10px;
text-align: center;
color:white;
}
.footer-socialmedia img:hover{
	opacity: 0.5;
}

/*nosotros*/

.nosotrossection1{
	width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
    color: aliceblue;
	
	}
	.nosotrossection2{
	width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
    
	
	}
	.nosotrossection3{
	width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
    
	
	}
	.tituabout{
	
	color:#333;
	text-align:center;
	
	}
	
.equipotitu{
margin-top:-30px;
text-align:center

}
.parrafoequipo{
margin-right:200px;
margin-left:200px;
text-align:justify;

}

.nosotrosImg1{
display:block;
width:310px;
height:310px;
margin-left:-70px;

}
.nosotrosImg2{
display:block;

margin-left:30px;

}
.nosotrosImg3{
display:block;
width:310px;
height:310px;
margin-left:-18px;
}
.titunosotros{
margin-left:80px;
text-align:center;

}
.parrafonosotros{
margin-left:80px;
text-align:justify

}
.parrafovalores{

margin-right:70px;
text-align:justify

}
.tituvalores{
margin-right:70px;
text-align:center;

}


.linenosotros{
  background: rgb(186,177,152);
  display: block;
  float: left;
  min-height: 250px;
  margin: 0 30px;
  width: 1px;
  
  margin-left:80px;
}
.imgmien1{
width:380px;
height:680px;
margin-left:-10px;
}

.imgmien2{

width:380px;
height:680px;
margin-left:-10px;
}

.imgmien3{
width:380px;
height:680px;
margin-left:-10px;

}

.InfoMien1{


}

/*Contacto*/

.contacto .section1{
    background: aliceblue;
}

.contacto .form-card{
    margin-top: 40px;
    margin-bottom: 40px;
}

.contacto .form-card h1{
    text-align: center;
}

.contacto .form-card p{
    text-align: center;
}

.contacto .form-card .btn{
    width: 100%;
}

.contacto .alert{
    margin-top: 10px;
    padding: 10px;
    border-radius: 2px;
}

.enviar-novisible{
    opacity: 0;
}

.enviar-visible{
    opacity: 1;
}




























