html{
    width: 100%;
    height: 100%;
}

body{
    background: -webkit-linear-gradient(left, #00535D , #005762); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #00535D, #005762); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #00535D, #005762); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #00535D , #005762); /* Standard syntax (must be last) */
}

.container{
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    background: aliceblue;
}

.menu{
    background: #0181A1;
    width: 100%;
    color: aliceblue;
}

.menu #menu-control{
    border-top: 1px solid aliceblue;
}

.menu ul li{
    text-align: center;
    list-style: none;
    font-size: 25px;
    font-weight: 100;
}

.menu #menu-collapse ul a{
    color: aliceblue;
    text-decoration: none;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu #menu-collapse ul a:hover{
    color: #A3CFF6;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu #menu-control a{
    color: aliceblue;
}

.menu .menu-logo{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    top: 5px;
}

.menu .menu-slogan{
    text-align: center;
    position: relative;
    top: 16px;
    font-size: 16px;
}

.menu .menu-menu{
    position: relative;
    text-align: center;
    font-size: 30px;
    top: 7px;
}

/*
**              -- INDEX --
*/

.index .banner{
    width: 100%;
    height: 600px;

    background: #ddd url("../img/banner2.jpg") no-repeat center;
    background-size: cover;
}

.index .banner .btn{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: 5px solid #fff;
    line-height: 70px;
    top: 300px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.index .banner .btn:hover{
    background: rgba(255, 255, 255, 0);
    color: aliceblue;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.index h3{
    text-align: justify;
}

.index .index-target a{
    text-decoration: none;
    color: inherit;
}

.index .index-item{
    border: 5px solid #3F888F;
    border-radius: 5px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.index .index-item:hover{
    top: -10px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.index .index-item h2{
    text-align: center;
}

textarea{
    resize: none;
}

.index .section1{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    background: aliceblue;

    color: #222;
}

.index .section1 .section1-hello h1{
    text-align: center;
}

.index .section1 .section1-hello p{
    text-align: justify;
}

.index .section1 .section1-hello .btn{
    width: 80%;
    text-align: center;
    background: #444;

    float: right;
}

.index .section1 .section1-hello .btn{
    color: aliceblue;
}

/*footer*/


.footer{
float:center;
  background: #45423B;
} 

.footer-derecho{

font-family:"Courier New", Courier, monospace;
font-size:20px;
}

.footer-central{

font-family:"Courier New", Courier, monospace;
font-size:15px;
}

.footer-contacto{

font-family:"Courier New", Courier, monospace;
font-size:14px;
}

.logo-footer{


width:80px;
margin:0 auto;
display:block;


}
.separador1 {

display:block;
width:25%;
height:20px;
float:left;
background:#3f888f;
}
.separador2{

display:block;
width:25%;
height:20px;
float:left;
background:#c0a062;
}

.separador3{

display:block;
width:25%;
height:20px;
float:left;
background:#c0a062;
}
.separador4{

display:block;
width:25%;
height:20px;
float:left;
background:#3f888f;
}
.footer-socialmedia{
padding-left:58px;
padding-top:40px;
}
.footer-socialmedia ul{
display:inline;

list-style:none;

}
.footer-socialmedia li{

 display: inline;

}
.footer-contacto{
padding-left:73px;
color:white;
}

.footer-derecho{
padding-left:2px;
color:white;
}
.footer-central{
padding-left:10px;
text-align: center;
color:white;
}
.footer-socialmedia img:hover{
	opacity: 0.5;
}

/*nosotros*/

.tituabout{
font-size:30px;
font-family: "Times New Roman", Times, serif;
}
.nosotrossection1{
	width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
    color: #222;
	font-size:15px;
font-family: "Times New Roman", Times, serif;
	}
	.nosotrossection2{
	width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
	font-family: "Times New Roman", Times, serif;
    font-size:15px;
	
	}
	.nosotrossection3{
	width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
    font-family: "Times New Roman", Times, serif;
	font-size:20px;
	}
	.tituabout{
	
	color:#333;
	text-align:center;
	
	}
	.valoresnosotros{
	margin-left:200px;
	font-family: "Times New Roman", Times, serif;
	font-size:20px;
	
	}
	
	
.equipotitu{
margin-top:-30px;
text-align:center

}
.parrafoequipo{
margin-right:200px;
margin-left:200px;
text-align:justify;

}

.nosotrosImg1{
display:block;
width:310px;
height:310px;
margin-left:-70px;

}
.nosotrosImg2{
display:block;

margin-left:30px;

}
.nosotrosImg3{
display:block;
width:310px;
height:310px;
margin-left:-18px;
}

.nosotrosImg21{
display:block;
width:310px;
height:310px;
margin-left:-70px;

}
.nosotrosImg22{
display:block;
height:310px;
margin-left:80px;
width:310px;
}
.nosotrosImg23{
display:block;
width:310px;
height:310px;
margin-left:-18px;
}

.titunosotros{
margin-left:80px;
text-align:center;

}
.parrafonosotros{
margin-left:80px;
text-align:justify

}
.parrafovalores{

margin-right:70px;
text-align:justify

}
.tituvalores{
margin-right:70px;
text-align:center;

}


.linenosotros{
  background: rgb(186,177,152);
  display: block;
  float: left;
  min-height: 250px;
  margin: 0 30px;
  width: 1px;
  
  margin-left:80px;
}


/*caracteriticas*/
.caracteristicas-delitos{

    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);
	


}

.titucaracteri{
font-family: "Times New Roman", Times, serif;
    font-size:25px;


}

.caractparraf{
font-family: "Times New Roman", Times, serif;
    font-size:20px;
text-align: justify;
}

.nosotrosImgrobo{
margin-left:200px;
width:130%;
}
/*Clasificacion*/
.clasificacion{
height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(255,255,255);


}  
.tituclasificac{
font-family: "Times New Roman", Times, serif;
    font-size:40px;
text-align: center;
}

.tituclasificac3{
font-family: "Times New Roman", Times, serif;
    font-size:30px;

}
.parrafoclasifi{

font-family: "Times New Roman", Times, serif;
    font-size:18px;

}




/*Contacto*/

.contacto .section1{
    background: aliceblue;
}

.contacto .form-card{
    margin-top: 40px;
    margin-bottom: 40px;
}

.contacto .form-card h1{
    text-align: center;
}

.contacto .form-card p{
    text-align: center;
}

.contacto .form-card .btn{
    width: 100%;
}

.contacto .alert{
    margin-top: 10px;
    padding: 10px;
    border-radius: 2px;
}

.enviar-novisible{
    opacity: 0;
}

.enviar-visible{
    opacity: 1;
}

/*
**      Riesgo
*/

.riesgo{
    margin-top: 30px;
    margin-bottom: 50px;
}

.riesgo h1{
    text-align: center;
}

.riesgo p{
    text-align: justify;
}

/*
**      Situación
*/

.situacion{
    margin-top: 30px;
    margin-bottom: 50px;
}

.situacion h1, .situacion h3{
    text-align: center;
}

.situacion p{
    text-align: justify;
}




/*
**      Infantil
*/

.infantil{
    margin-top: 30px;
    margin-bottom: 50px;
}

.infantil h1, .infantil h3{
    text-align: center;
}

.infantil p, .infantil li{
    text-align: justify;
}


/*
**      Clasificación
*/

.clasificacion{
    margin-top: 30px;
    margin-bottom: 50px;
}

.clasificacion h1, .clasificacion h3{
    text-align: center;
}

.clasificacion p, .clasificacion li{
    text-align: justify;
}


/*
**      Control
*/

.control{
    margin-top: 30px;
    margin-bottom: 50px;
}

.control h1, .control h3{
    text-align: center;
}

.control p, .control li{
    text-align: justify;
}

/*
**      Recursos
*/

.recursos{
    margin-top: 30px;
    margin-bottom: 50px;
}

.recursos h1, .recursos h3{
    text-align: center;
}

.recursos p, .recursos li{
    text-align: justify;
}

.recursos .item-recurso{
    min-height: 300px;
    border-left: 1px solid #999;
}

.recursos .recurso-target{
    box-shadow: #888 2px 2px 30px 5px;
    margin-bottom: 15px;
}

.recursos .btn{
    position: absolute;
    bottom: 15px;
    right: 20%;
}






























